 <!--
     
     Sydney Huang 
     301068497
     October 7 2020

     -->

<%- include('./Partials/Header.ejs') -%>

<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h1 class="display-4">Sydney Huang</h1>
        <hr class="my-4">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div>
      <h5>Hey you've reached the all about Sydney Huang page well since your here read about me.</h5>
      <div class="container">
  <div class="row">
    <div class="col">
      <div>
        <p> I was born in Canada and Im the second oldest out of my 3 other siblings, one being older and two being younger. I live with both my parents and 
I enjoy drawing and playing video games during my free time. I'm currently enrolled in Centennial College for Game Programming and i am really enjoying it.
My goal for in the future is to make a game that i will be able to sell in the future.
</p>
        <hr class="my-4">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="card" style="width: 17rem;">
<div class="card-body">
    <h5 class="card-title"></h5>
    <img src="./Pictures/image0.jpeg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Click here to see my resume</h5>
        <a href="file:///C:/Users/sydne/Desktop/COMP229-F2020-Lesson2b-master/public/Pictures/Resume%20Sydney%20Huang%20(1).pdf" class="btn btn-primary">Resume</a>
      </div>
    </div>
  </div>
</div>

    
<div id="back"></div>
   

<%- include('./Partials/Footer.ejs') -%>