 <!--
     
     Sydney Huang 
     301068497
     October 7 2020

     -->

<%- include('./partials/header.ejs') -%>

<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h1 class="display-4">Contact Me</h1>
        <hr class="my-4">
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName" placeholder="Enter Your Full Name"
          aria-describedby="FullName" name="fullName" required>
      </div>

      <div class="form-group">
        <label for="contactNumber">Contact Number</label>
        <input type="text" class="form-control" id="contactNumber" placeholder="Enter Your Contact Number"
          aria-describedby="ContactNumber" name="contactNumber" required>
      </div>

      <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" id="emailAddress" placeholder="Enter Your Email Address"
          aria-describedby="EmailAddress" name="emailAddress" required>
      </div>

      <div class="form-group">
        <label for="message">Your Message</label>
        <textarea class="form-control" id="message" rows="4" placeholder="Enter Your Message here..."
          name="message"></textarea>
      </div>

      <button type="submit" class="btn btn-lg btn-primary" id="SendButton"><i class="fas fa-paper plane"></i>
        Send</button>
      <button type="reset" class="btn btn-lg btn-primary" id="CancelButton"><i class="fas fa-undo"></i>
        Cancel</button>

    </form>
  </div>
</div>

<%- include('./partials/footer.ejs') -%>