 <!--
     
     Sydney Huang 
     301068497
     October 7 2020

     -->

<%- include('./partials/header.ejs') -%>

<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h1 class="display-4">Projects</h1>
        <hr class="my-4">
      </div>
    </div>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th> <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Self made Game</h5>
    <p class="card-text">My goal is to make a game completely made by me. I wanna try to do everything that is needed in a game by myself including art and music.</p>
    <img src="https://icon-library.com/images/confidence-icon/confidence-icon-6.jpg" class="card-img-top" alt="Self-icon">
  </div>
</div>
</th>
      <th> <div class="card" style="width: 18rem;">
  <img src="https://icon-library.com/images/friends-icon-transparent/friends-icon-transparent-5.jpg" class="card-img-top" alt="friend-icon" height="200">
  <div class="card-body">
    <h5 class="card-title">Game made with others</h5>
    <p class="card-text">In the future when me and a bunch of my friends from high school graduate, i actually want to collab with them into making a game. Most of my friends 
    took things such as art and music so im hoping that we can create a game together.</p>
  </div>
</div>
</th>
      <th><div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">website about me</h5>
    <p class="card-text">Currently working on a site all about me in which is helping me to improve my web design skills as well as coding ability</p>
     <img src="https://yegfitness.ca/wp-content/uploads/2020/09/5e430e11250000290333d757-360x250.jpeg" class="card-img-top" alt="aboutme-icon" height="250">
  </div>
</div>
</th>
     

<%- include('./partials/footer.ejs') -%>