/* your custom css goes here */
/*
     
Sydney Huang 
301068497
October 7 2020

*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #a8edca;
}
.jumbotron {
  background-color: #d4ffe9;
}