/* your custom css goes here */
/*
     
Sydney Huang 
301068497
October 7 2020

*/
#Gradient {
    height: 200px;
    background-color:palevioletred; /* For browsers that do not support gradients */
    background-image: linear-gradient(white,palevioletred );
  }

  #body {
    background-color: pink;
  }